<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
<nav>
       <img src="logo.png" alt="Logo1">
       <form>
            <input type="Search" placeholder="Search" name="Search">
       </form>
 		 <h2>discover</h2>
         <ul>
            <li><a href="">Featured</a></li>
            <li><a href="">Music</a></li>
            <li><a href="">Videos</a></li>
            <li><a href="">People</a></li>
            <li><a href="">Radio</a></li>
         </ul> 
</nav>


	

	<!-- End Component -->
	
</body>
</html>