<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
<section>
       <p><a href="">Spotify Logo</a></p>
         <ul>
            <li><a href="">Upgrade</a></li>
            <li><a href="">Help</a></li>
            <li><a href="">Download</a></li>
         </ul>
       <p><a href="">Log In</a></p>
</section>
	

	<!-- End Component -->
	
</body>
</html>