<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
<section>	
    	<h2>Show Earlier Listings</h2>
        <article>
        	<ul>
            	<li>on now</li>
            	<li>7:00PM</li>
            	<li>6:00c</li>
         	</ul>
            <img src="" alt="imgOne">
            <h2>300</h2>
            <p>TV14(SV)</p>
            <p><a href="">Watch Live</a></p>
            <p><a href="">See all air times</a></p>
         </article>
         
         <article>
        	<ul>
            	<li>9:30PM</li>
            	<li>8:30c</li>
         	</ul>
            <img src="" alt="imgTwo">
            <h2>I Am Legend</h2>
            <p>TV14(VL)</p>
            <p><a href="">See all air times</a></p>
         </article>
         
         <article>
        	<ul>
            	<li>on now</li>
            	<li>11:31PM</li>
            	<li>10:31c</li>
         	</ul>
            <img src="" alt="imgOne">
            <h2>300</h2>
            <p>TV(SV)</p>
            <p><a href="">See all air times</a></p>
         </article>   
</section>
	

	<!-- End Component -->
	
</body>
</html>