<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component --><br>
<section>
       <ul>
       		<li><a href="">Following</a></li>
            <li><a href="">Today</a></li>
            <li><a href="">Motors</a></li>
            <li><a href="">Fashion</a></li>
            <li><a href="">Electronics</a></li>
            <li><a href="">Collectible & Art</a></li>
            <li><a href="">Home & Garden</a></li>
            <li><a href="">Sporting Goods</a></li>
            <li><a href="">Toys & Hobbies</a></li>	
            <li><a href="">Deals & Gifts</a></li>
       </ul>
</section>
	
	

	<!-- End Component -->
	
</body>
</html>