<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
<section>
	<ul>
       <li><a href="">Target</a></li>
       <li><a href="">Help</a></li>
       <li>Contact Us</li>
     </ul>
     <h2>Contact Us</h2>
     <form>
     	<h4>Brows Help</h3>
     	 <select>
              <option value="Choose a topic">choose a topic</option>
              <option value="topic1">topic1</option>
              <option value="topic2">topic2</option>
              <option value="topic3">topic3</option>
		</select> 
        <p><a href="">contact us</a></p>
     </form>
     
     	<form>
         <h3>Let us know how we can help</h2>
            <h4>Pick a topic to start your message</h3>
        	<select>
              <option value="select">Select...</option>
              <option value="selection1">selection1</option>
              <option value="selection2">selection2</option>
              <option value="selection3">selection3</option>
			</select> 
         </form>
</section>
	

	<!-- End Component -->
	
</body>
</html>