<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
<section>
	<ul>
       <li><a href="">Target</a></li>
       <li><a href=""> > </a></li>
       <li><a href="">Help</a></li>
       <li><a href=""> > </a></li>
       <li><a href="">Contact Us</a></li>
     </ul>
     <h2>Contact Us</h2>
     <p> search help </p>
     <button type="button">Search Help</button>
     <h3>Brows Help</h3>
     <form>
     	 <select>
              <option value="Choose a topic">choose a topic</option>
              <option value="topic1">topic1</option>
              <option value="topic2">topic2</option>
              <option value="topic3">topic3</option>
		</select> 
     </form>
     <li><a href="">contact us</a></li>
     <h2>Let us know how we can help</h2>
     	<h3>Pick a topic to start your message</h3>
         <form>
        	<select>
              <option value="select">Select...</option>
              <option value="selection1">selection1</option>
              <option value="selection2">selection2</option>
              <option value="selection3">selection3</option>
			</select> 
    	 </form>
</section>
	

	<!-- End Component -->
	
</body>
</html>