<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
<footer>	
	<img src="blizzard.png" alt="Logo1">
    <img src="battle.png" alt="Logo2">
    <ul>
       <li><a href="">Press</a></li>
       <li><a href="">Career Opportunities</a></li>
       <li><a href="">Privacy Policy</a></li>
       <li><a href="">Legal Documentation</a></li>
       <li><a href="">Contact Us</a></li>
       <li><a href="">Site Map</a></li>
    </ul>
    <p>All trademarks referenced herein are the properties of their respective Owners.</p>
    <p>@2015 Blizzard Entertainment, Inc. All rights reserved</p>
    <p>Language:</p>
    <form>
     	 <select>
              <option value="Choose a Language">English (US)</option>
              <option value="Lang2">Lang2</option>
              <option value="Lang3">Lang3</option>
              <option value="Lang4">Lang4</option>
		</select> 
     </form>
    
</footer>
	

	<!-- End Component -->
	
</body>
</html>