@charset "UTF-8";


body{
	max-width: 980px;
	width: 100%;
	margin:0 auto;
	background-color:#000;}

	
img {
	padding-left:10px;
	margin: 0 auto;}
	
.header {
	background-color:#3282B2;}
	
h1, h2{
	font-family: "Iron & Brine";
	padding-left: 15px;
	padding-top: 20px;}
	
	
p{
	color:#FFF;
	padding-left: 15px;
	padding-bottom:10px;}