@charset "UTF-8";


body{
	max-width: 980px;
	width: 100%;
	margin:0 auto;
	background-image:url(../img/background1.jpg);}
	
img {
	display: block;
	margin: 0 auto;
	box-shadow: 5px 5px 3px #888888;
	border-radius: 5px;}
	
.header, .nav, .cta, .contact, .bio, .sign, .footer, .email, .nav2, .schedule {
	background-image:url(../img/background2.jpg);
	border-radius: 15px;}	
	
	
.bio img{
	margin: 0 auto;
	display: block;}
	
.bio h1{
	text-align:center;}
	
.bio h2{
	text-align:center;}
	
.bio p{
 	margin-left: 100px;
	margin-right: 100px;}
h1{
	color:#3B2008;
	font-family: "Iron & Brine";
	padding-left: 15px;
	padding-top: 20px;}
	
h2{
	color:#3B2008;
	font-family: "Iron & Brine";
	padding-left: 15px;
	padding-top: 5px;
	text-align:left;
	padding-bottom: none;}
	
	
p{
	font-family:Arial, Helvetica, sans-serif;
	color:#484647;
	font-size:19px;
	padding-left: 15px;
	padding-bottom:25px;
	border-bottom: 1px solid #000;}
	
button{
	margin: 0 auto;
	display:block;
	text-align:center;
	background-color: #600;
	font-size: 12px;
	border-radius: 2px;
	border-style: none;
	margin-left: 5px;
	margin-top:16px;
	color:#003967;}
			
a{
	display:block;
	text-align:center;
	padding-top: 12px;
	width: 200px;
	height: 40px;
	color:#FBFBFB;
	font-size: 16px;
	text-transform: uppercase;
	border-radius: 2px;}
