<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<section>
    <div class="wrapper">
    
    <section>
    	<h2> Featured Games </h2>
        <article>
        	<img src="" alt="">
            <h2>title</h2>
            <p> Paragraph </p>
        </article>
        
        <ul>
        	<li><a href="">previous</a></li>
            <li><a href="">next</a></li>
       </ul>
        
    </section>
    
    <section>
        <h2> Top Games </h2>
            <article>
                <img src="" alt="">
                <h3>title</h2>
                <p> Paragraph </p>
            </article>
            <article>
                <img src="" alt="">
                <h3>title</h2>
                <p> Paragraph </p>
            </article>
            <article>
                <img src="" alt="">
                <h3>title</h2>
                <p> Paragraph </p>
            </article>
            <article>
                <img src="" alt="">
                <h3>title</h2>
                <p> Paragraph </p>
            </article>
        
    </section>
    
    </div>
    </section>
	<!-- End Component -->
	
</body>
</html>