<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<section>
    	<h2>Meet Our Team</h2>
        <article>
        	<img src="" alt="">
            <ul>
            	<li><a href="">facebook</a></li>
                <li><a href="">twitter</a></li>
                <li><a href="">google plus</a></li>
            </ul>
            <h3>Sam Brown</h3>
            <p>team member bio</p>
            <p><a href="">more info</a></p>
        </article>
         <article>
        	<img src="" alt="">
            <ul>
            	<li><a href="">facebook</a></li>
                <li><a href="">twitter</a></li>
                <li><a href="">google plus</a></li>
            </ul>
            <h3>Sam Brown</h3>
            <p>team member bio</p>
            <p><a href="">more info</a></p>
        </article>
         <article>
        	<img src="" alt="">
            <ul>
            	<li><a href="">facebook</a></li>
                <li><a href="">twitter</a></li>
                <li><a href="">google plus</a></li>
            </ul>
            <h3>Sam Brown</h3>
            <p>team member bio</p>
            <p><a href="">more info</a></p>
        </article>
         <article>
        	<img src="" alt="">
            <ul>
            	<li><a href="">facebook</a></li>
                <li><a href="">twitter</a></li>
                <li><a href="">google plus</a></li>
            </ul>
            <h3>Sam Brown</h3>
            <p>team member bio</p>
            <p><a href="">more info</a></p>
        </article>
        
	
	</section>
	<!-- End Component -->
	
</body>
</html>