<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<section>	
    <form>
    	<h2>Sign In to your Walmart account</h2>
        	<h3>Email address</h3>
                <input type="text" name="email">
                <h3>Password</h3>
                <input type="text" name="password">
                <p><a href="">Sign In</a></p>
                <button type="button">Sign In</button>
     </form>
    </section>
	<!-- End Component -->
	
</body>
</html>