<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<section>	
    	<h2>Sign In to your Walmart account</h2>
        	<h3>Email address</h3>
            <form>
                <input type="text" name="email">
                <h3>Password</h3>
                <input type="text" name="password">
                <h3>Forgot password?</h3>
                <button type="button">Sign In</button>
            </form>
    </section>
	<!-- End Component -->
	
</body>
</html>