<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
<section>
       <p>Enter your e-mail to<em>get the latest deals </em>and more</p>
         <form>
            <input type="Enter E-Mail Address"  placeholder="Enter E-mail Address" name="email">
         </form>
       <button type="button">Sign Up</button>
</section>
	<!-- End Component -->
	
</body>
</html>