<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
<section>
       <p>ENTER YOUR E-MAIL TO <em>GET THE LATEST DEALS</em>AND MORE</p>
         <form>
            <input type="Enter E-Mail Address" name="email">
         </form>
       <button type="button">Sign Up</button>
</section>
	<!-- End Component -->
	
</body>
</html>