/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */

/* HEADER ======================================== */

/* HEADER ======================================== */

html{
	font-size: 62.5%; }
	
body{
	font: 1.6em/1.4 ;
	font-family: Circular,Helvetica,Arial,sans-serif;}


header{
	height: 80px;
	background-color:#949590;}

ul{
	padding-top: 1em;
	border: 1px solid red;
	font-size:26px;
	float: right;
	text-transform:uppercase;}

li{
	float: left;}		
	

h2{
	position:absolute;
	left: calc(50% - 50px);
	padding-top: 1em;
	margin: 0 auto;
	font-size: 28px;
	color:#FAF9FA;
	text-transform: uppercase;}

a{
	padding: 5px 12px;
	font-size: 18px;
	color:#FAF9FA;
	text-transform: uppercase;
	text-align:center;
	width: 75px;}
	
p{
	float: left;
	padding-top: 2em;
	padding-bottom: 2em;}

li:last-child{
	background-color:#050414;
	border:2px solid #2AB5CD;}